#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.content-form {
  display: flex;
  gap: 1.5rem;
  align-items: center ;
  margin: 2rem 0;
}

label {
  min-width: 10rem;
  height: 2rem;
  text-align: left;
}

input {
  width: 22rem;
  height: 2rem; 
}

.form-field-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-1 {
  width: 12rem;
  background-color: bisque;
}

.error-message {
  color: red;
  padding: 1rem;
  text-align: center;
}